html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fffffb;
  /* background-color: #f3f4ff; */
  font-family: "Open Sans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  /* box-sizing: border-box; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: "black";
    background: #fffffb;
    /* background: #f3f4ff; */
  }
}

.cursor {
  border-right: 2px solid grey;
  padding-left: 3px;
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}
